* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: odin-norse;
  src: url(assets/Norsebold.otf);
}

@font-face {
  font-family: Montserrat;
  src: url(assets/Montserrat-SemiBold.ttf);
}

body {
  background-color: rgba(0, 0, 0, 0.823);
}

.container {
  width: 65vw;
  height: 100vh;
  display: flex;
  margin: 0 20vw;
}

.sidebar {
  background-color: red;
  width: 35%;
  /* flex: 1; */
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: -60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.sidebar a, #credit {
  color: white;
  font-size: 8px;
}

.behind-logo {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 90px;
  padding: 10px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
}

.logo {
  background-image: url(assets/odin-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 50%;
  height: 100%;
  
}

.logo-text {
  color: white;
  font-size: 55px;
  font-family: odin-norse;
}

main {
  background-color: #f9fafb;
  width: 65%;
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 0 150px 0;

}

main p {
  margin: 0 70px 0 30px;
}

#form-intro {
  margin: 0 0 5px 0;
}

.bolded-paras {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
}

form {
  background-color: #ffffff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 30px;
  /* box-shadow: grey 0px 1px 5px; spread radius was causing shadow on the top as well*/
  box-shadow: 0 4px 5px -5px gray;
}

label {
  font-size: 7px;
  letter-spacing: 0.5px;
  font-family: Montserrat;
}

.row {
  display: flex;
  gap: 40px;
}

.input-element {
  display: flex;
  flex-direction: column;
}

button {
  margin: 25px 30px;
  width: 140px;
  padding: 8px 0px;
  font-size: 11px;
  font-weight: 600;
  background-color: #596D48;
  border: none;
  border-radius: 3px;
  color:white;
}

.log-in {
  font-size: 11px;
}

.log-in a {
  color: #596D48;
  font-weight: bold;
  text-decoration: none;
}